@import '@common/styles/index.scss';

.container {
  padding: $padding-4n $padding-4n;
  background: $white;
  border-bottom: $border-solid-1;

  &:last-child {
    border-bottom: none;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  padding-bottom: 6px;
  color: $text-color-primary;
  .text {
    font-size: $font-size-primary;
    text-align: left;
    line-height: 16px;
  }
  .money {
    font-weight: 600;
    font-size: $font-size-middle;
    text-align: left;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: $font-size-label;
  margin-bottom: rem($margin-2n);
  color: $text-color-secondary;
  .time {
    text-align: left;
    color: $text-color-secondary;
    word-break: break-all;
  }
  .withdrawalStatus1 {
    color: $primary-color;
  }
  .withdrawalStatus2 {
    color: $text-color-regular;
  }
  .withdrawalStatus3 {
    color: $error-color;
  }
  .withdrawalStatus4 {
    color: $success-color;
  }
}