@import '@common/styles/mixin/login.scss';
@import '@common/styles/index.scss';

.box {
    position: relative;
    width: 100%;
    height: rem(188);
    background-position: center center;
    background-size: 100% auto;
}
.box::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(11, 11, 55, 0.16);
}