@import '@common/styles/index.scss';

.userCenterAction {
    .userCenterActionItemContainer {
        display: flex;
        justify-content: space-between;
        padding: rem($padding-4n);

        .userCenterActionItem {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            min-width: rem(60);

            .userCenterActionItemIcon {}

            .userCenterActionItemDesc {
                margin-top: rem($margin-2n);
                color: $text-color-regular;
                font-size: rem($font-size-small);
            }
        }
    }

}