@import '@styles/index.scss';
.wrapper {
  :global {
    .dzq-popup__overlay {
      background-color: rgba(0, 0, 0, 0.5);
    }

    .dzq-popup__container {
      width: 100%;
      background: var(--color-white);
      border-radius: 10px 10px 0 0;
    }
  }

  .content {
    margin: 0 $padding-4n;
    font-size: $font-size-middle;
    text-align: center;
    line-height: $font-line-height-small;
    background: var(--color-white);

    .item {
      padding: $padding-4n;
      color: var(--color-text-primary);
      border-bottom: $border-solid-1;
    }
    .btn {
      line-height: 54px;
      color: $text-color-regular;
      @include ios-safe-area-inset-bottom();
    }
  }
}
