
.loadingBox{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: transparent;
  white-space: nowrap;

  .loading{
    animation: loading 1s linear infinite;
  }
}