@import '@common/styles/index.scss';

.dialogHeader {
  height: rem(52);
  line-height: rem(52);
  font-size: rem($font-size-large);
  color: $text-color-primary;
}

.dialogBody {
  padding: 0;
}

.dialogFooter {
  padding-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: rem(352);
  height: rem(540);
  overflow: hidden;
  background: $white;

  .titleHr {
    height: rem(1);
    width: 100%;
    background: $border-color;
  }
}

.splitElement {
  padding: 0 rem($padding-4n);

  :global {
    .dzq-divider {
      margin: 0;
    }
  }
}