@import '@common/styles/index.scss';
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $padding-6n 0;
  border-bottom: 1px solid $border-color;
  box-sizing: border-box;
  background-color: $white;
  .title {
    font-size: $font-size-middle-extra;
  }
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $padding-4n 0;
  border-bottom: 1px solid $border-color;
  box-sizing: border-box;
  background-color: $white;
  height: rem(54);
  .title {
    font-size: $font-size-middle;
  }
}
.title {
  font-weight: $font-weight-regular;
  line-height: $font-line-height-primary;
  color: $text-color-primary;
  margin-left: $padding-2n;
}

.left {
  display: flex;
  align-items: center;
  height: $font-line-height-primary;
  width: 80%;
}
.right {
  display: flex;
  align-items: center;
  height: $font-line-height-primary;
  .rightIcon {
    margin-left: $margin-1n;
    color: $text-color-secondary;
  }
}
.noMargin {
  margin-left: 0;
}
.more {
  display: flex;
  align-items: center;
  @include cursor-on-pc;
  font-size: $font-size-primary;
  color: $text-color-primary;
  line-height: $font-line-height-primary;
  &:hover {
    color: $primary-color;
    .rightIcon {
      color: $primary-color !important;
    }
  }
}
.num {
  font-size: $font-size-label;
  color: $text-color-secondary;
  margin-left: $margin-3n;
  line-height: $font-line-height-primary;
}

.text {
  font-size: $font-size-label;
  color: $text-color-regular;
  line-height: $font-line-height-primary;
}
.icon1 {
  color: $success-color;
}
.icon2 {
  color: $warn-color;
}
.icon3 {
  color: $error-color;
}
