@import '@common/styles/index.scss';

.userCenterPost {
  padding: rem($padding-4n);
  cursor: pointer;
  // padding-bottom: rem($padding-6n);

  .userCenterPostContent {
    display: flex;
    width: 100%;

    .userCenterPostAvatar {
      padding-top: rem($padding-4n);
      margin-right: rem($margin-2n);
    }
  }

  .userCenterPostTitle {
    font-size: rem($font-size-middle);
    color: $text-color-primary;
    font-weight: 600;
    height: rem(22);
    line-height: rem(22);
  }

  .userCenterPostInfo {
    display: flex;
    padding-top: rem($padding-4n);

    input {
      -webkit-appearance: none;
    }

    .userCenterPostInput {
      width: 100%;

      input {
        padding-left: $padding-4n;
        // background-color: $body-bg-color;
        border-color: $border-color;
      }
      :global {
        .input-placeholder {
          color: var(--color-text-placeholder);
        }
      }
    }
  }

  .userCenterPostList {
    padding-top: rem($padding-6n);
    display: flex;
    justify-content: space-between;
  }

  .userCenterPostBtn {
    width: 100%;
    text-align: right;
    margin-top: rem($margin-4n);

    @media screen and (max-width: 800px) {
      .btn {
        width: rem(76);
        height: rem(36);
        padding: 0;
        line-height: rem(36);
      }
    }

    .btn {
      width: rem(100);
      height: rem(36);
      padding: 0;
      line-height: rem(36);
    }
  }
}
