@import '@common/styles/index.scss';
.index {
  height: 100vh;
  width: 100vw;
  background: $white;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  .header {
    height: rem(50);
    display: flex;
    justify-content: flex-end;
    padding: 0 rem($padding-4n);
    .show {
      .showGet {
        display: flex;
        justify-content: flex-end;
        .icon {
          line-height: rem(50);
        }
        .showMoneyNum {
          font-weight: $font-weight-regular;
          font-size: var($font-size-label);
          line-height: rem(50);
          text-align: left;
          color: $text-color-primary;
          margin-left: rem($margin-2n);
          .moneyNumber {
            color: $error-color;
          }
        }
      }
    }
    .more {
      line-height: rem(20);
      padding-left: rem($padding-2n);
      color: $text-color-secondary;
    }
  }
  .content {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}

.inputFooterContainer {
  height: rem(50);
  width: 100%;
  flex: 0 rem(50);
  background: $white;
}

.inputFooter {
  position: fixed;
  bottom: 0;
  bottom: constant(safe-area-inset-bottom); ///兼容 IOS<11.2/
  bottom: env(safe-area-inset-bottom); ///兼容 IOS>11.2/
  left: 0;
  width: 100%;
  z-index: $zindex-backtotop;
  min-height: rem(50);
  padding-left: rem($padding-4n);
  padding-right: rem($padding-4n);
  box-sizing: border-box;
  background: $white;
  border-top: $border-solid-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

