@import '@common/styles/index.scss';

.threadFirstItem {
  &:before {
    content: '';
    display: none;
  }
}

.threadItem {
  &:before {
    content: '';
    display: block;
    height: rem(10);
    background: $comment-bg-color;
  }
}

.threadsContainer {
  background: $comment-bg-color;
}

.threadBorder {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.threadWrapper {
  position: relative;
}

.threadStickFlag {
  position: absolute;
  border-top: 24px solid $primary-color;
  border-right: 24px solid transparent;
  width: 0;
  height: 0;

  top: 0;
  left: 0;
  color: $white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;

  cursor: auto;

  :global {
    .dzq-icon {
      font-size: 12px !important;
      margin-right: 4px;
      position: relative;
      top: -15px;
      left: 10px;
    }
  }
}

.moreIconSpan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  :global {
    .dzq-dropdown-menu__item {
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;

      .dzq-icon {
        margin-right: 4px;
      }
    }
  }

}
