@import '@common/styles/index.scss';

.inputClick {
  flex: 1;
  :global {
    .dzq-input.is-disabled .dzq-input__inner {
      background-color: $body-bg-color;
      -webkit-appearance: none; // ios下去除上面阴影
      .input-placeholder {
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        color: #4F5A70;
      }
    }
    .dzq-input__inner {
      border-radius: 18px;
      background-color: #fafafb !important;
      border: 1px solid #fefefe !important;
      padding-left: 42px !important;
    }
    .dzq-icon {
      line-height: 36px;
      color: $text-color-regular;
      width: 48px;
    }
  }
  .input {
    width: 100%;
  }
}

.inputPlaceholder {
  color: $disabled-color;
}

.icon {
  margin-left: $margin-6n;
  display: inline-block;
  position: relative;

  // TODO:暂未提供token
  color: $text-color-secondary;

  :first-child {
    margin-left: 0;
  }
}

.badge {
  min-width: 17px;
  height: 17px;
  font-size: $font-size-small;
  text-align: center;
  color: $white;
  background: $error-color;
  border-radius: 8.5px;
  padding: 0 6px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: -8.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(50%);
  .text {
    font-size: $font-size-small;
    line-height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.83);
  }
}

.isCricle {
  width: 17px;
}

.operate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.share {
  padding: 0;
  border: none !important;
  overflow: initial;
}
.content {
  position: absolute;
  font-size: 12px;
  text-align: left;
  color: #8590a6;
  line-height: 17px;
  width: 26px;
  background-color: #fff;
  left: 10px;
  bottom: 12px;
}
