@import '@common/styles/index.scss';

.userCenterColumnStyle {
    justify-content: space-between;
}
.userCenterAction {
    display: flex;
    flex-wrap: wrap;

    .userCenterActionItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: percentage(100/9/100);

        .userCenterActionItemIcon {}

        .userCenterActionItemDesc {
            color: $text-color-regular;
            margin-top: rem($margin-2n);
            font-size: rem($font-size-small);
        }
    }
}

.userCenterAction {
    &.h5 {
        .userCenterActionItem {
            width: 25%;
            padding-top: rem($padding-4n);
            padding-bottom: rem($padding-4n);
        }
    }
}

.userCenterAction {
    &.pc {
        padding: rem($padding-6n) rem($padding-2n) 0 rem($padding-2n); 
        // padding-top: rem($padding-6n)
        .userCenterActionItem {
            width: percentage(100/9/100);
            padding-bottom: rem($padding-6n);
        }
    }
}