@import '@common/styles/index.scss';

.userCenterPost {
  padding: rem($padding-6n);
  padding-bottom: rem($padding-4n);

  .userCenterPostContent {
    display: flex;
    width: 100%;

    .userCenterPostAvatar {
      padding-top: rem(16);
      margin-right: rem(8);
    }
  }

  .userCenterPostTitle {
    font-size: 18px;
    height: rem(25);
    line-height: rem(25);
    color: var(--color-text-primary);
  }

  .userCenterPostInfo {
    display: flex;
    padding-top: rem(16);

    .userCenterPostInput {
      width: 100%;
      position: relative;

      .inputMask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
  }

  .userCenterPostList {
    padding-top: rem(24);
    display: flex;

    .userCenterPostListItem {
      margin-right: rem(24);
    }
  }

  .postInput {
    :global {
      .dzq-input__inner {
        background-color: $body-bg-color;
        border-color: $border-color;
        padding-left: rem($padding-4n);
      }
      .input-placeholder {
        color: var(--color-text-placeholder);
        font-size: rem($font-size-primary);
      }
    }
  }

  .userCenterPostBtn {
    width: 100%;
    text-align: right;
    margin-top: rem($margin-4n);
    .btn {
      width: rem(100);
      height: rem(36);
      padding: 0;
      line-height: rem(26);
    }
  }
}
