@import '@common/styles/index.scss';

.userCenterPost {
  padding: $padding-4n;
  cursor: pointer;

  .userCenterPostContent {
    display: flex;
    width: 100%;

    .userCenterPostAvatar {
      padding-top: $padding-4n;
      margin-right: $margin-2n;
    }
  }

  .userCenterPostTitle {
    font-size: $font-size-middle;
    color: $text-color-primary;
    font-weight: 600;
    height: 22px;
    line-height: 22px;
  }

  .userCenterPostInfo {
    display: flex;
    padding-top: $padding-4n;

    input {
      -webkit-appearance: none;
    }

    .userCenterPostInput {
      width: 100%;

      input {
        padding-left: $padding-4n;
        // background-color: $body-bg-color;
        border-color: $border-color;
      }
      :global {
        .input-placeholder {
          color: $text-color-placeholder;
        }
      }
    }
  }

  .userCenterPostList {
    padding-top: $padding-6n;
    display: flex;
    justify-content: space-between;
  }

  .userCenterPostBtn {
    width: 100%;
    text-align: right;
    margin-top: $margin-4n;

    .btn {
      width: 76px;
      height: 36px;
      padding: 0;
      line-height: 36px;
    }
  }
}
