@import '@common/styles/index.scss';

.dialogHeader {
  height: rem(28);
  line-height: rem(28);
  font-size: rem($font-size-large);
  color: $text-color-primary;
  padding-bottom: 0;
  margin-bottom: rem(24);

  :global(.dzq-header__closeicon){
    top: 50%;
    margin-top: rem(-6);
  }
}

.dialogBody {
  padding: 0;
}

.dialogFooter {
  padding-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: rem(540);
  overflow-y: hidden;
  background: $white;

  .titleHr {
    height: rem(1);
    width: 100%;
    background: $border-color;
  }
}

.splitElement {
  padding: 0 rem($padding-4n);
  :global {
    .dzq-divider {
      margin: 0;
    }
  }
 }


// :global {
//   .dzq-modal__container {
//     padding: {
//       left: rem(8);
//       right: rem(8);
//       top: 0;
//       bottom: 0;
//     }
//   }

//   .dzq-modal__body {
//     padding: 0;
//   }
// }